@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.fondo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background-image: url(./fondo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.stage{
  display: flex;
  align-self: flex-end;
  margin-bottom: 30px;
  min-height: 100%;
  min-width: 100%;
}
.yoda{
  margin: auto;
  display: flex;
  width: 150px;
  height: 150px;
  margin-left: 30px;
}